.App {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;

  .App-header {
    display: flex;
    flex: 1;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 99;
  }

  .App-content {
    display: flex;
    justify-content: center;
    margin: 24px;
  }
}